* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style the header */
  header {
    background: rgb(8, 69, 119) ;
                                      
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  h1 {
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 15px;;
  }
  
  input {
    width: 70%;
    height:auto;
    margin-right: 0;
    padding: 10px;
    border: none;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .addBtn {
    width: 15%;
    padding: 0.8rem;
    margin-left:0;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  
  
  .addBtn:hover {
    background-color: #bbb;
    color: #FFF;
  }
  .deleteAll{
    width: 15%;
    height: auto;
    padding: 0.8rem;
    margin-left:0;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  .deleteAll:hover{
    background-color: #bbb;
    color: #FFF;
  }
  #btn{
    /* margin-top: 2px; */
    margin: 0.8rem;
}
  #elem{
    text-align: center;
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: auto; 
    border:solid white; 
    margin-bottom: 10px;
  }
  #result{
    align-items: left;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 10px;
    max-height: 51vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.btn2{
  margin-top: 5px;
  margin-bottom: 7px;
  height: 25px;
width: 25px;
}
.btn3{
  margin-top: 5px;
  margin-bottom: 7px;
  height: 25px;
width: 25px;
}
.store{
  /* width: 63%; */
  width: 80%;
  /* height: 32px; */
  height: auto;
  background-color: white;
  color: #555;
  text-align: left;
  font-size: 1rem;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* overflow-x: hidden; */
}
.col{
  margin-top: 2px;
  margin-bottom: 2px;
  
}
.larger{
height: 25px;
width: 25px;
margin-top: 5px;
margin-bottom: 7px;
}
  
  body{
    align-content: center;
    background-color: rgb(60, 99, 156);
    font-weight: 300px;
    font-size:1.5rem;
    margin:0;
    color:#f4f4f4;
    
        
        
}